.container {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.iframe {
  border-radius: 10px;
}

.footer {
  margin: auto;
  padding-bottom: 20px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
